{{> head }}

{{> navbar }}
    
<div class="row">
    <div class="col-8">
        <h1>Cápitan America</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus libero voluptatem vero impedit soluta aliquid ullam ducimus quis facere, assumenda repudiandae molestiae recusandae nesciunt, laboriosam delectus nam! Cupiditate, magni recusandae suscipit delectus rem nisi blanditiis explicabo impedit totam quia tempora quam distinctio esse qui a sunt rerum, eveniet, commodi perferendis.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/capitanAmerica.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer}}